<div class="Journal--header">
  <h2>From the journal <span class="dashes">--</span></h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci libero minus qui quis repudiandae veniam vero voluptatibus?</p>
</div>
<ul class="Journals">
  <li *ngFor="let journalItem of journalItems">
    <a href="#" class="list--link Journals__journal">
      <div>
        <img [src]="journalItem.img" alt="journal">
      </div>
      <div class="Journals__journal-right">
        <span class="Journals__journal--date">{{journalItem.date}} / {{journalItem.category}}</span>
        <h3 class="Journals__journal--title">{{journalItem.title}}</h3>
        <p class="Journals__journal--info">{{journalItem.info}}</p>
      </div>
    </a>
  </li>
</ul>
