.Intro {
  background: #f1f4f5;
  padding: 18px 0;
  .Intro__lead {
    font-size: 2.1rem;
    font-weight: 100;
    color: #4d4d4d;
  }
  .Intro__sub {
    text-transform: lowercase;
    font-size: 1.2rem;
    color: #a1a2a2;
  }
}
