<header class="container">
  <h1>Keepsake Logo</h1>
  <nav class="Nav">
    <ul class="Nav__list">
      <li *ngFor="let navItem of navItems" class="Nav__list-item"><a href="#">{{navItem}}</a></li>
      <li><a href="#" class="Nav--favorite"></a></li>
    </ul>
    <button type="button" class="Nav__ham">
      <i class="fas fa-bars fa-2x"></i>
    </button>
  </nav>
</header>

<app-intro></app-intro>

<main class="container">
  <section>
    <app-works></app-works>
  </section>
  <section>
    <app-services></app-services>
  </section>
</main>
