.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .Header__logo {
    color: transparent;
    background: url('/assets/images/logo.gif') no-repeat;
    background-size: contain;
  }
  .Header__ham {
    font-size: .78rem;
  }
}

.Nav {
  padding-bottom: 20px;
  .Nav__list-item {
    color: #4d4d4d;
    padding: 10px 3px;
    margin: 7px 0;
    font-size: 1.2rem;
  }
  .Nav--favorite {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

section {
  margin: 100px 0;
}

.Footer {
  background: #2d2d30;
  padding: 30px 0;
  text-align: center;
  p {
    color: #bdbdbd;
  }
  .Footer__social-links {
    color: #fff;
    display: flex;
    justify-content: center;
    li {
      margin: 10px;
      font-size: 1.1rem;
      border-radius: 100%;
      a {
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .HeaderNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 4px;
  }
  .Header__ham {
    display: none;
  }
  .Nav {
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }
  .Nav__list {
    display: flex;
    .Nav__list-item {
      margin-right: 15px;
      padding: 3px 10px;
      font-size: 1.3rem;
    }
  }
}

