<header class="container Header">
  <h1 class="Header__logo"><a href="#" class="logo--link">Keepsake Logo</a></h1>
  <button (click)="onMobileMenuClick()" type="button" class="Header__ham red-btn">
    <i class="fas fa-bars fa-2x"></i>
  </button>
</header>
<nav *ngIf="mobileNavActive" class="container Nav">
  <ul class="Nav__list">
    <li *ngFor="let navItem of navItems" class="Nav__list-item"><a href="#">{{navItem}}</a></li>
  </ul>
  <a href="#" class="Nav--favorite red-btn">
    <i class="fas fa-heart"></i>
  </a>
</nav>


<app-intro></app-intro>

<main class="container">
  <section>
    <app-works></app-works>
  </section>
  <section>
    <app-services></app-services>
  </section>
  <section>
    <app-journal></app-journal>
  </section>
</main>

<footer class="Footer">
  <div class="container">
    <p>&copy; Keepsake.  All rights reserved.  Theme by elemis</p>
    <ul class="Footer__social-links">
      <li *ngFor="let socialIcon of socialIcons" [ngStyle]="{'background-color': socialIcon.color}">
        <a href="#" class="list--link">
          <i [class]="socialIcon.icon"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
