* {
  box-sizing: border-box;
}

body {
  font-family: Bebas Neue, sans-serif;
}

h2, h3 {
  color: #4d4d4d;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--link {
  display: block;
}

button {
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

.red-btn {
  background-color: #ef5f60;
  font-weight: bold;
  color: #fff;
  padding: 8px;
}

.dashes {
  color: #ef5f60;
}
