<div class="Works--header">
  <h2>Our Awesome Works <span class="dashes">--</span></h2>
  <button>Filter Portfolio</button>
</div>
<ul class="Works">
  <li *ngFor="let workImage of workImages" class="Works__work">
    <a href="#" class="list--link">
      <img [src]="workImage.img" [alt]="workImage.alt" class="Works__work-img">
    </a>
  </li>
</ul>
<div class="Works--footer">
  <h3>Would you love to work with us?</h3>
  <a href="#">
    <i class="far fa-envelope"></i>
    Contact Us
  </a>
</div>
